    body {
      font-family: 'Roboto', sans-serif;
      font-size: 16px
      
    }
    .bg-image {
  background-image: url("/static/mblog/images/medi5.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.bg-im {
  background-image: url("/static/mblog/images/medi5.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter : opacity(0.1)


}
                                       /* Flouter l'image  */
.cont {
  position: relative; /* Assure que le pseudo-élément est positionné par rapport à cet élément */
 }
 
 .cont::before {
  content: "";

  filter: blur(5px); /* Ajustez cette valeur pour changer l'intensité du flou */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1; /* Assure que le pseudo-élément est derrière les éléments enfants */
 }
 
 .cont p, .container h1, .container h2, .container h3, .container h4, .container h5, .container h6 {
  position: relative; /* Assure que les éléments enfants sont positionnés par rapport à l'élément conteneur */
  z-index: 1; /* Assure que les éléments enfants sont au-dessus du pseudo-élément */
 }



    .head_text {
      color: white;
    }
    .header {
      background-color: #653636;
    }
    .card {
      box-shadow: 0 16px 48px #727d88;
    }


      .shadow {
        box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
      }
      .btn-danger {
        color: #fff;
        background-color: #f00000;
        border-color: #dc281e;
      }
      .masthead {
        background: #5638c4;
        height: auto;
        padding-bottom: 15px;
        box-shadow: 0 16px 48px #4d6176;
        padding-top: 10px;
        text-align: center;

      }



     /* margin and padding */
.mb {
  margin-bottom: 30px;
}

.m {
  margin: 30px;
}
.ml {
  margin-left: 30px;
}
.ml5 {
  margin-left: 50px;
}
.ml10 {
  margin-left: 100px;
}

.mr {
  margin-right: 30px;
}

.mt {
  margin-top: 50px;
}

.pb {
  padding-bottom: 30px;
}

.p {
  padding: 30px;
}
.pl3 {
  padding-left: 30px;
}

.pl5 {
  padding-left: 50px;
}

.pl7 {
  padding-left: 70px;
}

.pl9 {
  padding-left: 90px;
}


.pr {
  padding-right: 30px;
}

.pt5 {
  padding-top: 50px;
}
.pt1 {
  padding-top: 10px;
}
.pdd {
  padding: 20px;
}

                                 /*background colors*/

.bcg1 {
  background: rgb(40, 142, 118);
  opacity: 100%;

}

.bcg2 {
    background: rgb(137, 180, 170);
}

.bcg3 {
    background: rgb(110, 73, 155);
}

.bcg4 {
  background-color: darkslategrey;
}

.bcg5 {
  background-color: rgb(132, 130, 125);
}

.degrade1 {
  background: linear-gradient(to top, rgb(116, 145, 157), rgb(157, 205, 205), rgb(91, 87, 92));
  filter: opacity(0.);
}

.alpha {
  background-color: rgba(255, 255, 255, 0.2);
}




.bss {
  border-style:solid;
}

.br1 {
  border-radius: 10px;
}
.br2 {
  border-radius: 20px;
}

.br3 {
  border-radius: 30px;
}
.br4 {
  border-radius: 100px;
}
  /*Border-width*/

.bw1 {
  border-width: 1px;
}

  /*Border-width*/

.bw1 {
  border-width: 1px;
}






         /* text-color*/

.tc1 {
  color: #3214c9d4;
}
.tc2 {
 color: #473c7ad4;
}
.tc3 {
  color: #14c3c9d4;
}
.tc4 {
  color: #d7b506d4;
}
.tc5 {
  color: #ea510bd4;
}
.tc6 {
  color: #c9145cd4;
}
.tc7 {
  color: #ffebf3d4;
}




                           /*couleur pour le header*/
  
.navbar-items {
  float: right;
}
    
.header .nav-item.active .nav-link,
.header .nav-item:focus .nav-link,
.header .nav-item:hover .nav-link {
  color: pink;
}

.pf {
  position: fixed;
}



.profile-image {
 width: 500px; /* Ajustez la taille selon vos besoins */
 height: 300px; /* Assurez-vous que la hauteur correspond à la largeur pour un cercle parfait */
 border-radius: 50%; /* Cela rend l'image circulaire */
 object-fit: cover; /* Assurez-vous que l'image couvre toute la zone sans être déformée */
}


/**/
* {
	box-sizing: border-box;
}



.stars {
	text-align: end;
}

.stargrey {
	color: #96969d;
}

.yellow {
	color: #fedc18;
}

.star:hover {
	cursor: pointer;
}

.starss {
  float: right;
}

.op {
  filter: drop-shadow(0.7);
}

.op1  {
  filter : opacity(0.1)
}

.to1  {
  opacity : 1
}


