<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulaire</title>
  </head>
  <body>
    {% extends 'mblog/base.html' %}

    {% block content %}
      <div class="container cont mt br2 col-xs col-sm col-md col-lg-6 text-center alpha">
        <h1 class="text-white to1">Contactez-nous pour consultation</h1>

        <h3 class="mt pr pt">Cliquez <a href="mailto:yellowkim@gmail.com">sur ce lien</a> pour nous contacter via gmail</h3>

        <h3 class="mt pr pt"></h3>
      </div>
    {% endblock %}
  </body>
</html>
